// To lower contention on the variant database,
// restrict the concurrency on updating it down to 1
limits {
    variantdb = 1
}

// If you want notifications by instant message, customize this
// section. See https://code.google.com/p/bpipe/wiki/Notifications
// for more options

// notifications {
//   gtalk {
//     to="your_account@gmail.com"
//     username="senderaccount@gmail.com"
//     password="thepassword"
//     events="STAGE_COMPLETED,FINISHED"
//     interval="60000"
//   }
// }
